<section class="p-3 text-center">
  <div class="container p-3 bg-light-subtle border border-opacity-25">
    <h1>
      {{ delegations[delegationId].title }}
    </h1>
    <div class="p-2 fs-5">
      {{ delegations[delegationId].startDate.toDateString() }} - {{ delegations[delegationId].endDate.toDateString() }}
    </div>
    <div class="p-3 fs-4 text-warning ">
      {{ delegations[delegationId].status }}
    </div>
    <div class ='p'>
      <button type="button" class="btn btn-primary px-4 mx-3">Start</button>
      <button type="button" class="btn btn-secondary px-4 mx-3">Pause</button>
      <button type="button" class="btn btn-danger px-4 mx-3">Stop</button>
    </div>
  </div>
</section>
<section class="p-3 text-center">
  <div id="userCarousel" class="carousel slide" data-bs-ride="false">
    <div class="carousel-inner">
      <div *ngIf="delegations[delegationId].users.length == 0">
        <p>No participants</p>
      </div>
      <div class="carousel-item" *ngFor="let user of delegations[delegationId].users; let i = index" [class.active]="i === 0">
        <div class="row">
          <div class="col-3" *ngFor="let user of delegations[delegationId].users.slice(i * 4, (i + 1) * 4)">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <a class="carousel-control-prev" href="#userCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#userCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a> // Jak na razie usuwam nawigacje po użytkownikach bo mamy za ich za mało żeby dobrze ztestować i zaimplementować
    -->
  </div>
</section>
