@media (min-width: 992px) {
  .delegation-date {
    text-align: end;
  }
}

.card {
  width: 16rem;
  background-color: rgba(0, 0, 0, .2);
  transition: all .2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.dashboard {
  width: 100%;
}

@media (max-width: 992px) {
  .dashboard {
    text-align: center;
  }

  .phone-align {
    display: flex;
    justify-content: center;
  }
}
