<div *ngIf="delegation">
  <div class="card shadow-sm m-0 border-0">
    <div class="card-header bg-dark-subtle text-white">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex gap-2">
            <h4 class="mb-0 text-center">{{ delegation.title }}</h4>
            <div class="d-flex align-items-center mt-1">
              <span class="badge {{ getColorByStatus(delegation.status) }}">{{ delegation.status }}</span>
            </div>
          </div>
          <div>{{ delegation.startDate | date:'mediumDate' }} - {{ delegation.endDate | date:'mediumDate' }}</div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
          <span>{{ delegation.origin }} <i class="bi bi-arrow-right"></i> {{ delegation.destination }}</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Users Section -->
      <div class="mb-4">
        <div class="d-flex gap-2 mb-2">
          <h5 class="m-0">Users</h5>
          <span class="d-flex align-items-center" style="color: mediumpurple;" *ngIf="user && user.role != 'EMPLOYEE'"><h5 class="m-0"><i type="button" class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#addUsersModal"></i></h5></span>
        </div>
        <div class="list-group">
          <div class="d-flex gap-2">
            <div class="card d-flex p-2 m-0" style="width: fit-content" *ngIf="delegation.users.length == 0">
              <p class="m-0">No participants</p>
            </div>
            <div class="card d-flex p-2 m-0" style="width: fit-content" *ngFor="let user of delegation.users">
              <p class="m-0">{{ user.firstName }} {{ user.lastName }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Notes Section -->
      <div class="mb-4">
        <div class="d-flex gap-2 mb-2">
          <h5 class="m-0">Notes</h5>
          <span class="d-flex align-items-center" style="color: mediumpurple;"><h5 class="m-0"><i type="button" class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#addNotesModal"></i></h5></span>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let note of delegation.notes">
            <h5 class="m-0">{{ note.user.firstName }} {{ note.user.lastName }}</h5>
            <i *ngIf="note.user.id == user.id" type="button" class="bi bi-trash3-fill float-end" (click)="deleteNote(note.id)" ></i>
            <small class="text-secondary">{{ note.createdAt | date:'mediumDate' }}</small>
            <p class="mb-0">{{ note.content }}</p>
          </li>
        </ul>
      </div>

      <!-- Expenses Section -->
      <div class="mb-4">
        <div class="d-flex gap-2 mb-2">
          <h5 class="m-0">Expenses</h5>
          <span class="d-flex align-items-center" style="color: mediumpurple;"><h5 class="m-0"><i type="button" class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#addExpenseModal"></i></h5></span>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Owner</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let expense of delegation.expenses">
            <td>{{ expense.user.firstName }} {{ expense.user.lastName }}</td>
            <td>{{ expense.createdAt | date:'mediumDate' }}</td>
            <td>{{ expense.description }}</td>
            <td>${{ expense.amount }}</td>
            <td>
              <div class="dropdown">
                <button class="btn py-0" type="button" id="workLogDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <h5 class="m-0"><i class="bi bi-list"></i></h5>
                </button>
                <ul class="dropdown-menu" aria-labelledby="workLogDropdown">
                  <li><a class="dropdown-item" href="#">Edit</a></li>
                  <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr *ngIf="delegation.expenses.length > 0">
            <td>Total</td>
            <td></td>
            <td></td>
            <td>${{ getTotalDelegationCost() }}</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Work Logs Section -->
      <div class="mb-4">
        <div class="d-flex align-items-center gap-2 mb-4">
          <h5 class="m-0">Work Logs</h5>
          <i *ngIf="user && user.role != 'EMPLOYEE'" type="button" class="bi bi-plus-square" style="color: mediumpurple;" data-bs-toggle="modal" data-bs-target="#addWorkLogModal"></i>
        </div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let workLog of delegation.workLogs">
            <th scope="row">{{ workLog.id }}</th>
            <td> {{ workLog.user.firstName }} {{ workLog.user.lastName }}</td>
            <td> {{ workLog.startTime | date}}</td>
            <td> {{ workLog.startTime | date: 'HH:mm' }} - {{ workLog.endTime | date: 'HH:mm' }}</td>
            <td>
              <div class="dropdown">
                <button class="btn py-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <h5 class="m-0"><i class="bi bi-list"></i></h5>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addExpenseModalLongTitle">Add expense</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="expenseForm" (ngSubmit)="submitExpense()">
          <div class="form-group">
            <label class="py-2" for="amount">Amount</label>
            <input class="form-control" id="amount" placeholder="Enter amount" formControlName="amount">
          </div>
          <div class="form-group mb-3">
            <label class="py-2 form-label" for="inputExpense">Description</label>
            <textarea class="form-control" id="inputExpense" placeholder="Enter description" formControlName="description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNotesModal" tabindex="-1" aria-labelledby="addNotesModalLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNotesModalLongTitle">Add note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="noteForm" (ngSubmit)="submitNote()">
          <div class="mb-3 form-group">
            <label for="inputNote" class="form-label">Note Content:</label>
            <textarea class="form-control" id="inputNote" placeholder="Enter note" formControlName="content"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addUsersModal" tabindex="-1" aria-labelledby="addUsersModalLongTitle" aria-hidden="true" *ngIf="usersForm && user && user.role != 'EMPLOYEE'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUsersModalTitle">Add note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="usersForm" (ngSubmit)="updateUsers()">
          <div class="mb-3 form-group">
            <div class="form-check" *ngFor="let user of usersInMyDepartment">
              <label class="form-check-label" for="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</label>
              <input type="checkbox" class="form-check-input" id="{{ user.id }}" formControlName="{{ user.id }}" value="{{ user.id }}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addWorkLogModal" tabindex="-1" aria-labelledby="addWorkLogLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addWorkLogLongTitle">Add note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="workLogForm" (ngSubmit)="submitWorkLog()">
          <div class="mb-3 form-group">
            <div class="col-md-6">
              <label for="startTime" class="form-label">Start Date</label>
              <input id="startTime" class="form-control" type="datetime-local" formControlName="startTime">
            </div>
            <div class="col-md-6">
              <label for="endTime" class="form-label">End Date</label>
              <input id="endTime" class="form-control" type="datetime-local" formControlName="endTime">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
