<div *ngIf="delegation">
  <div class="card shadow-sm m-0 border-0">
    <div class="card-header bg-dark-subtle text-white">
      <div class="row">
        <div class="col-md-6">
          <div class="d-flex gap-2">
            <h4 class="mb-0 text-center">{{ delegation.title }}</h4>
            <div class="d-flex align-items-center mt-1">
              <span class="badge {{ getColorByStatus(delegation.status) }}">{{ delegation.status }}</span>
            </div>
          </div>
          <div>{{ delegation.startDate | date:'mediumDate' }} - {{ delegation.endDate | date:'mediumDate' }}</div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-end justify-content-center">
          <i *ngIf="user && user.role != 'EMPLOYEE' && delegationForm" type="button" class="bi bi-pencil-fill float-end" data-bs-toggle="modal" data-bs-target="#editDelegationModal"></i>
          <span>{{ delegation.origin }} <i class="bi bi-arrow-right"></i> {{ delegation.destination }}</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <!-- Users Section -->
      <div class="mb-4">
        <div class="d-flex gap-2 mb-2">
          <h5 class="m-0">Users</h5>
          <span class="d-flex align-items-center" style="color: mediumpurple;" *ngIf="user && user.role != 'EMPLOYEE'"><h5 class="m-0"><i type="button" class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#addUsersModal"></i></h5></span>
        </div>
        <div class="list-group">
          <div class="d-flex gap-2">
            <div class="card d-flex p-2 m-0" style="width: fit-content" *ngIf="delegation.users.length == 0">
              <p class="m-0">No participants</p>
            </div>
            <div class="card d-flex p-2 m-0" style="width: fit-content" *ngFor="let user of delegation.users">
              <p class="m-0">{{ user.firstName }} {{ user.lastName }}</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Stages Section -->
      <div class="mb-4">
        <div class="d-flex gap-2 mb-2">
          <h5 class="m-0">Stages</h5>
          <span class="d-flex align-items-center" style="color: mediumpurple;"><h5 class="m-0"><i type="button" class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#addStageModal"></i></h5></span>
        </div>
        <table class="table table-striped" style="table-layout: fixed; width: 100%">
          <thead>
          <tr>
            <th>Type</th>
            <th>Place</th>
            <th>Description</th>
            <th>Time</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stage of getSortedStage()">
            <td><i class="{{ iconsService.getIconByStageType(stage.type) }}"></i> {{ stage.type.replace('_', ' ') }}</td>
            <td>{{ stage.place }}</td>
            <td>{{ stage.description }}</td>
            <td>{{ stage.time.toLocaleString() }}</td>
            <td>
              <div class="dropdown">
                <button class="btn py-0" type="button" id="stagesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <h5 class="m-0"><i class="bi bi-list"></i></h5>
                </button>
                <ul class="dropdown-menu" aria-labelledby="stagesDropdown">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editStageModal" (click)="selectStageForEdit(stage.id)">Edit</a></li>
                  <li><a class="dropdown-item" (click)="deleteStage(stage.id)">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Notes Section -->
      <div class="mb-4">
        <div class="d-flex gap-2 mb-2">
          <h5 class="m-0">Notes</h5>
          <span class="d-flex align-items-center" style="color: mediumpurple;"><h5 class="m-0"><i type="button" class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#addNotesModal"></i></h5></span>
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let note of delegation.notes">
            <h5 class="m-0">{{ note.user.firstName }} {{ note.user.lastName }}</h5>
            <i *ngIf="note.user.id == user.id" type="button" class="bi bi-trash3-fill float-end  ms-4" (click)="deleteNote(note.id)" ></i>
            <i *ngIf="note.user.id == user.id" type="button" class="bi bi-pencil-fill float-end" data-bs-toggle="modal" data-bs-target="#editNoteModal" (click)="selectNoteForEdit(note.id)"></i>
            <small class="text-secondary">{{ note.createdAt | date:'mediumDate' }}</small>
            <p class="mb-0">{{ note.content }}</p>
          </li>
        </ul>
      </div>

      <!-- Expenses Section -->
      <div class="mb-4">
        <div class="d-flex gap-2 mb-2">
          <h5 class="m-0">Expenses</h5>
          <span class="d-flex align-items-center" style="color: mediumpurple;"><h5 class="m-0"><i type="button" class="bi bi-plus-square" data-bs-toggle="modal" data-bs-target="#addExpenseModal"></i></h5></span>
        </div>
        <table class="table table-striped" style="table-layout: fixed; width: 100%">
          <thead>
          <tr>
            <th>Owner</th>
            <th>Date</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let expense of delegation.expenses">
            <td>{{ expense.user.firstName }} {{ expense.user.lastName }}</td>
            <td>{{ expense.createdAt | date:'mediumDate' }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount }} PLN</td>
            <td>
              <div class="dropdown" *ngIf="expense.user.id == user.id">
                <button class="btn py-0" type="button" id="workLogDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <h5 class="m-0"><i class="bi bi-list"></i></h5>
                </button>
                <ul class="dropdown-menu" aria-labelledby="workLogDropdown">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editExpenseModal" (click)="selectExpenseForEdit(expense.id)">Edit</a></li>
                  <li><a class="dropdown-item" (click)="deleteExpense(expense.id)">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr *ngIf="delegation.expenses.length > 0">
            <td>Total</td>
            <td></td>
            <td></td>
            <td>{{ getTotalDelegationCost() }} PLN</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Work Logs Section -->
      <div class="mb-4">
        <div class="d-flex align-items-center gap-2 mb-2">
          <h5 class="m-0">Work Logs</h5>
          <i type="button" class="bi bi-plus-square" style="color: mediumpurple;" data-bs-toggle="modal" data-bs-target="#addWorkLogModal"></i>
        </div>
        <table class="table table-striped" style="table-layout: fixed; width: 100%">
          <thead>
          <tr>
            <th scope="col">Owner</th>
            <th scope="col">Date</th>
            <th scope="col">Duration</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let workLog of delegation.workLogs">
            <td> {{ workLog.user.firstName }} {{ workLog.user.lastName }}</td>
            <td> {{ workLog.startTime | date}}</td>
            <td> {{ workLog.startTime | date: 'HH:mm' }} - {{ workLog.endTime | date: 'HH:mm' }}</td>
            <td>
              <div class="dropdown" *ngIf="workLog.user.id == user.id">
                <button class="btn py-0" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  <h5 class="m-0"><i class="bi bi-list"></i></h5>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editWorkLogModal" (click)="selectWorkLogForEdit(workLog.id)">Edit</a></li>
                  <li><a class="dropdown-item" (click)="deleteWorkLog(workLog.id)">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <!-- Manager Stuff -->
      <div class="mb-4" *ngIf="user && user.role != 'EMPLOYEE'">
        <div class="d-flex align-items-center gap-2 mb-4">
          <h5 class="m-0">Manager Options</h5>
        </div>
        <div>
          <a href="reports/{{ delegation.id }}?returnUrl={{ window.location.href }}"><button type="button" class="btn btn-primary">Generate Report</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addExpenseModalLongTitle">Add expense</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="expenseForm" (ngSubmit)="submitExpense()">
          <div class="form-group">
            <label class="py-2" for="amount">Amount</label>
            <input class="form-control" id="addAmount" placeholder="Enter amount" formControlName="amount">
          </div>
          <div class="form-group mb-3">
            <label class="py-2 form-label" for="inputExpense">Description</label>
            <textarea class="form-control" id="inputExpense" placeholder="Enter description" formControlName="description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addNotesModal" tabindex="-1" aria-labelledby="addNotesModalLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNotesModalLongTitle">Add note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="noteForm" (ngSubmit)="submitNote()">
          <div class="mb-3 form-group">
            <label for="inputNote" class="form-label">Content:</label>
            <textarea class="form-control" id="inputNote" placeholder="Enter note" formControlName="content"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addUsersModal" tabindex="-1" aria-labelledby="addUsersModalLongTitle" aria-hidden="true" *ngIf="usersForm && user && user.role != 'EMPLOYEE'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUsersModalTitle">Add note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="usersForm" (ngSubmit)="updateUsers()">
          <div class="mb-3 form-group">
            <div class="form-check" *ngFor="let user of usersInMyDepartment">
              <label class="form-check-label" for="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</label>
              <input type="checkbox" class="form-check-input" id="{{ user.id }}" formControlName="{{ user.id }}" value="{{ user.id }}">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addWorkLogModal" tabindex="-1" aria-labelledby="addWorkLogLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addWorkLogLongTitle">Add Work Log</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="workLogForm" (ngSubmit)="submitWorkLog()">
          <div class="mb-3 form-group">
            <div class="col-md-6">
              <label for="addStartTime" class="form-label">Start Date</label>
              <input id="addStartTime" class="form-control" type="datetime-local" formControlName="startTime">
            </div>
            <div class="col-md-6">
              <label for="addEndTime" class="form-label">End Date</label>
              <input id="addEndTime" class="form-control" type="datetime-local" formControlName="endTime">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editWorkLogModal" tabindex="-1" aria-labelledby="editWorkLogLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editWorkLogLongTitle">Edit Work Log</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="workLogEditForm" (ngSubmit)="editWorkLog()">
          <div class="mb-3 form-group">
            <div class="col-md-6">
              <label for="addStartTime" class="form-label">Start Date</label>
              <input id="editStartTime" class="form-control" type="datetime-local" formControlName="startTime">
            </div>
            <div class="col-md-6">
              <label for="editEndTime" class="form-label">End Date</label>
              <input id="editEndTime" class="form-control" type="datetime-local" formControlName="endTime">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editExpenseModal" tabindex="-1" aria-labelledby="editExpenseTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editExpenseTitle">Edit Expense</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="expenseEditForm" (ngSubmit)="editExpense()">
          <div class="form-group">
            <label class="py-2" for="amount">Amount</label>
            <input class="form-control" id="amount" placeholder="Enter amount" formControlName="amount">
          </div>
          <div class="form-group mb-3">
            <label class="py-2 form-label" for="editInputExpense">Description</label>
            <textarea class="form-control" id="editInputExpense" placeholder="Enter description" formControlName="description"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editNoteModal" tabindex="-1" aria-labelledby="editNoteTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editNoteTitle">Edit Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="noteEditForm" (ngSubmit)="editNote()">
          <div class="mb-3 form-group">
            <label for="editInputNote" class="form-label">Note Content:</label>
            <textarea class="form-control" id="editInputNote" placeholder="Enter note" formControlName="content"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editDelegationModal" tabindex="-1" aria-labelledby="editDelegationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editDelegationModalLabel">Edit Delegation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form *ngIf="delegationForm" (ngSubmit)="editDelegation()" [formGroup]="delegationForm">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-12">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" aria-describedby="titleHelp" formControlName="title">
            </div>
            <div class="col-md-6">
              <label for="origin" class="form-label">Origin</label>
              <input type="text" class="form-control" id="origin" formControlName="origin">
            </div>
            <div class="col-md-6">
              <label for="destination" class="form-label">Destination</label>
              <input type="text" class="form-control" id="destination" formControlName="destination">
            </div>
            <div class="col-md-6">
              <label for="startDate" class="form-label">Start Date</label>
              <input id="startDate" class="form-control" type="datetime-local" formControlName="startDate">
            </div>
            <div class="col-md-6">
              <label for="endDate" class="form-label">End Date</label>
              <input id="endDate" class="form-control" type="datetime-local" formControlName="endDate">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="addStageModal" tabindex="-1" aria-labelledby="addStageModalLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addStageModalLongTitle">Add note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="stagesForm" (ngSubmit)="addStage()">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="time" class="form-label">Time</label>
              <input id="time" class="form-control" type="datetime-local" formControlName="time">
            </div>
            <div class="col-6">
              <label for="type" class="form-label">Type</label>
              <select class="form-select" aria-label="Default select example" id="type" formControlName="type">
                <option value="Departure">Departure</option>
                <option value="Arrival">Arrival</option>
                <option value="Meeting">Meeting</option>
                <option value="Check_In">Check In</option>
                <option value="Check_Out">Check Out</option>
              </select>
            </div>
            <div class="col-md-12">
              <label for="place" class="form-label">Place</label>
              <input type="text" class="form-control" id="place" formControlName="place">
            </div>
            <div class="col-md-12">
              <label for="description" class="form-label">Description</label>
              <input type="text" class="form-control" id="description" formControlName="description">
            </div>
          </div>
          <div class="modal-footer mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="editStageModal" tabindex="-1" aria-labelledby="editStageModalLongTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editStageModalLongTitle">Add note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="stagesForm" (ngSubmit)="editStage()">
        <div class="modal-body">
          <div class="row g-3">
            <div class="col-md-6">
              <label for="editTime" class="form-label">Time</label>
              <input id="editTime" class="form-control" type="datetime-local" formControlName="time">
            </div>
            <div class="col-6">
              <label for="editType" class="form-label">Type</label>
              <select class="form-select" aria-label="Default select example" id="editType" formControlName="type">
                <option value="Departure">Departure</option>
                <option value="Arrival">Arrival</option>
                <option value="Meeting">Meeting</option>
                <option value="Check_In">Check In</option>
                <option value="Check_Out">Check Out</option>
              </select>
            </div>
            <div class="col-md-12">
              <label for="editPlace" class="form-label">Place</label>
              <input type="text" class="form-control" id="editPlace" formControlName="place">
            </div>
            <div class="col-md-12">
              <label for="editDescription" class="form-label">Description</label>
              <input type="text" class="form-control" id="editDescription" formControlName="description">
            </div>
          </div>
          <div class="modal-footer mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
