<div class="w-100 vh-100">
  <div class="h-100 row g-3 p-0 m-0">
    <div class="col-md-6 p-5">
      <div class="h-100 flex flex-column justify-content-center align-content-center">
        <h2 class="m-0">Sign in</h2>
        <br>
        <form *ngIf="myForm" (ngSubmit)="login()" [formGroup]="myForm">
          <div class="row g-3">
            <div class="col-12">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="john@doe.com" formControlName="email">
            </div>
            <div class="col-12">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>
            <div class="col-12">
              <div class="form-check">
                <label class="form-check-label" for="staySignedIn">Stay signed in</label>
                <input type="checkbox" class="form-check-input" id="staySignedIn" formControlName="staySignedIn">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Sign in</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 hero mt-0" style="min-height: 300px">
      <div class="w-100 h-100 flex align-content-center text-center">
        <h1>Travel efficiently with Dotorro</h1>
        <h2>Welcome back!</h2>
      </div>
    </div>
  </div>
</div>

<app-toast/>
